:root {
  --primary-color: #00A5E5;
  --secondary-color: #54E0CD;
  --tertiary-color: #97AFB9;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  /*em checks parents, rem checks the top parent */
}

body {
  /* try to load the font-family from Google, otherwise put use built-in computer fonts */
  font-family: "'Source Sans Pro'", cursive;
  /* base font.size - this serves as the base for all 'em' units */
  font-size: 10px;
  line-height: 1.65;
  background-color: var(--tertiary-color);
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

p,
li,
a,
figcaption {
  font-size: 1.266em;
}

nav {
  background: var(--secondary-color);
  padding: 0.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#cta {
  display: flex;
  background-image: url("https://source.unsplash.com/random");
  flex-direction: column;
  align-items: center;
  height: 15vh;
}

#bg-trans {
  background-color: rgba(red, green, blue, alpha);
  border-radius: 3px;
  padding: 1rem;
}
