:root {
  --primary-color: #00a5e5;
  --secondary-color: #54e0cd;
  --tertiary-color: #97afb9;
}

a {
  text-decoration: none;
}

.bg-trans {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 0.97rem;
}

body {
  background-color: var(--tertiary-color);
  /* try to load the font-family from Google, otherwise put use built-in computer fonts */
  font-family: "'Source Sans Pro'", cursive;
  /* base font.size - this serves as the base for all 'em' units */
  font-size: 20px;
  line-height: 1.65;
}

.button {
  background-color: grey;
  border: Solid Thin var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.7rem;
  max-width: 9rem;
}

#contact {
  font-size: 1em;
}

#copyright {
  font-size: 0.95em;
}

#cta {
  background-image: url("https://source.unsplash.com/random/900x900");
  display: flex;
  height: 15vh;
}

#cta a {
  background: var(--primary-color);
  box-shadow: 1px 4px 5px 9px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  color: purple;
  display: inline-block;
  margin-bottom: 0.5rem;
  -moz-box-shadow: 1px 4px 5px 9px rgba(0, 0, 0, 0.75);
  padding: 0.5em;
  -webkit-box-shadow: 1px 4px 5px 9px rgba(0, 0, 0, 0.75);
}
/* SPACE MEANS ANY CHILD SELECTOR */
#cta p {
  color: #0000ff;
  font-size: 1.75em;
  font-weight: bold;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex--align-items-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}

.flex--justify-content-center {
  justify-content: center;
}

.flex--justify-content-space-around {
  justify-content: space-around;
}

.flex--row {
  flex-direction: row;
}

header {
  background-color: var(--primary-color);
  padding: 0.3rem;
  /*em checks parents, rem checks the top parent */
}

h1,
h2,
h3 {
  line-height: 1.15;
}

h1 {
  font-size: 1.802em;
}

h2 {
  font-size: 1.602em;
}

h3 {
  font-size: 1.424em;
}

.img--circle {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.img--responsive {
  height: auto;
  max-width: 100%;
}

li {
  list-style-type: none;
}

nav {
  background: var(--secondary-color);
  padding: 0.5rem;
}

p,
li,
a,
figcaption {
  font-size: 1.266em;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.text--align {
  text-align: center;
}

/* Media queries*/
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  #cta {
    background: url("https://source.unsplash.com/random/") no-repeat center
      center;
    background-size: cover;
    height: 30vh;
  }
}

@media screen and (min-width: 960px) {
  .flex--md {
    display: flex;
  }
}
